# Java
*.class
*.jar
*.war
*.ear


# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle

.gradle
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak


